<style>
    div{
        margin-top:10px;
    }
</style>

<h1>User Page</h1>

<form  action =  "/user/add" method  = "post"> 
    <div>
        <label>First Name</label>
        <input type = "text" name  = "first_name">
    </div> 
    
    <div>
        <label>Email Address</label> 
        <input type = "email" name  = "email_address">
    </div> 

    <div>
        <label>Mobile Number</label>
        <input type = "number" name  = "mobile_number">
    </div> 

    <div>
        <button type  = "submit">Save</button>
    </div>

</form>